torch
einops
torchvision
# opencv-python
opencv-contrib-python-headless
kornia
# albumentations  ## Appears to not be used. Removing because it has a opencv dependency
loguru
tqdm
matplotlib
h5py
wandb
timm
poselib
fused-local-corr>=0.2.2